pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
profiles.clj
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.prepl-port
.cpcache/

# mercurial
.hgignore
.hg/

# cursive
*.iml
.idea/
